# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

dist: xenial
sudo: required
language: r
r_packages:
  - devtools
  - testthat
matrix:
  include:
  - os: linux
    r: release
    addons:
        apt:
            packages:
                - r-cran-rgtk2
  - os: linux
    r: oldrel
    addons:
        apt:
            packages:
                - r-cran-rgtk2
  - os: linux
    r: devel
    addons:
        apt:
            packages:
                - r-cran-rgtk2

warnings_are_errors: true
r_build_args: "--no-manual"
r_check_args: "--no-manual --as-cran"
